/* Icon */
/*
position: absolute;
width: 82px;
height: 82px;
left: 1273px;
top: 519px;

*/
@import url("switzer.css");
@import url("boska.css");

/* * {
  max-width: 1440px;
} */

/* @font-face {
  font-family: "";
  src: url("");
} */

/*
.top {
  position: static;
  background-color: #1b3936;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  margin-top: auto;
}

nav a {
  color: #ffffff;
  font-family: "Switzer Variable", swap;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.7px;
}

.navOne {
}
.navTwo {
}
.navTitle {
}
*/

/* 2nd Take */
/*
.top {
  background-color: #1b3936;
}
*/

/*
.section-hero {
  position: relative;
  display: flex;
}
.hero-img-box {
  max-height: 1188px;
  max-width: 1188px;
  
}
.hero-img {
  position: absolute;
  margin: 618px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hero-textbox {
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
}

.hero-heading-cabin {
  color: #75ff69;
}
*/

/* Info Section */

.section-info {
  color: #1b3936;
  margin: 6rem 0 7rem 0;
}

.info {
  width: 90rem;
  margin-inline: auto;
}

.info-box {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.info-left {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.info-img {
  max-width: 12.7rem;
}

.info-text {
  font-family: "Switzer-Variable";
  width: 609px;
  height: 128px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.98rem;
}

.info-right {
  display: flex;
  flex-direction: column;
  row-gap: 7rem;
}

.info-right-text-box {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.info-right-text-box h2 {
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.98rem;
  margin: 0px;
}

.info-right-text-box p {
  font-family: "Boska-Variable";
  font-weight: 700;
  font-size: 6.25rem;
  margin: 0px;
}

.info-right-text-box p span {
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.98rem;
}

/* Forest Image Section */

.section-forest {
  width: 90rem;
  height: 850px;
  margin-inline: auto;
  overflow: hidden;
}

.forest-img {
  width: 100%;
}

/* About Us Section */

.section-about-us {
  width: 90rem;
  height: 105rem;
  margin-inline: auto;
  position: relative;
  background-color: #1b3936;
}

.section-about-us img {
  max-width: 25rem;
  position: absolute;
}

.about-us-img-01 {
  top: 350px;
  left: 100px;
}

.about-us-img-02 {
  top: 50px;
  right: 150px;
}

.about-us-img-03 {
  height: 33rem;
  top: 1000px;
  left: 100px;
}

.about-us-img-04 {
  top: 1000px;
  right: 150px;
}

.about-us-text {
  margin-inline: auto;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 10vw;
  max-width: 1000px;
  /* background: rgb(27, 57, 54);
  background: radial-gradient(
    circle,
    rgba(23, 51, 48, 1) 44%,
    rgba(27, 57, 54, 1) 46%
  ); */
}

.about-us-text h2 {
  font-family: "Switzer-Variable";
  color: #75ff69;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.about-us-text p {
  font-family: "Boska-Variable";
  color: #678784;
  font-size: 4.25rem;
  line-height: 5.525rem;
  font-weight: 400;
  text-transform: capitalize;
}

.about-us-text span {
  color: white;
}

.intersection {
  width: 90rem;
  height: 7.063rem;
  background-color: #1b3936;
  margin-inline: auto;
}

/* Unique Room Section */

.section-unique-room {
  width: 90rem;
  margin-inline: auto;
  padding-top: 200px;
  padding-bottom: 250px;
  background-color: #f9f9f9;
}

.section-unique-room h2 {
  text-transform: capitalize;
  font-family: "Boska-Variable";
  font-weight: 400;
  font-size: 4.25rem;
  line-height: 5.525rem;
  width: 784px;
  margin: 0 0 150px 150px;
}

.cabin-card-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.cabin-small-card {
  max-width: 378px;
  max-height: 505px;
  position: relative;
  display: flex;
  justify-content: center;
}

.cabin-small-card img {
  width: 100%;
}

.cabin-small-card h3 {
  position: absolute;
  color: white;
  font-family: "Boska-Variable";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.625rem;
  bottom: 0.5vh;
}

.cabin-big-card {
  max-width: 582px;
  max-height: 778px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.cabin-big-card img {
  width: 100%;
}

.cabin-big-card-text-box {
  position: absolute;
  color: white;
  width: 380px;
  /* top: 50vh; */
  left: 2vw;
  margin-bottom: 50px;
}

.cabin-big-card-text-box h3 {
  font-family: "Boska-Variable";
  font-weight: 500;
  font-size: 4.25rem;
  margin-bottom: 2px;
}

.cabin-big-card-text-box p {
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 1.125rem;
  list-style: 1.5rem;
}

/* Sign Up Section */

.section-sign-up {
  width: 90rem;
  height: 60rem;
  background-color: #1b3936;
  margin-inline: auto;
  position: relative;
  display: grid;
  place-content: center;
}

.sign-up-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-img-box {
  max-width: 75rem;
}

.sign-up-img {
  width: 100%;
}

.sign-up-text-box {
  position: absolute;
  color: white;
  text-align: center;
}

.sign-up-text-box h2 {
  text-transform: capitalize;
  font-family: "Boska-Variable";
  font-size: 4.25rem;
  font-weight: 400;
  line-height: 5.525rem;
}

.sign-up-text-box h2 span {
  color: #75ff69;
}

.sign-up-text-box p {
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.sign-up-email-box {
  max-width: 570px;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.sign-up-email-box input {
  padding: 15px 245px 15px 10px;
  margin-right: 0px;
}

.sign-up-email-box button {
  padding: 15px 30px;
  margin-left: 0px;
  background-color: #75ff69;
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 0.9rem;
}

/* Footer Section */

.section-footer {
  width: 66.5rem;
  margin-inline: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #1b3936;
}

.footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text-box h2 {
  text-transform: capitalize;
  max-width: 715px;
  font-family: "Boska-Variable";
  font-size: 4.25rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer-text-box p {
  font-family: "Switzer-Variable";
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 75px;
}

.footer-text-box button {
  font-family: "Switzer-Variable";
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  padding: 20px 55px;
}

/* About Section */
.section-about {
  width: 90rem;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  color: #ffffff;
}

.section-about h2 {
  font-family: "Boska-Variable";
  font-size: 4.25rem;
  font-weight: 400;
}

.section-about p {
  font-family: "Switzer-Variable";
  font-size: 1rem;
  font-weight: 400;
}

.about-box {
  background-color: #75ff69;
  color: #1b3936;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-box h2 {
  margin-bottom: 0;
}

.about-box-img {
  margin-left: 15vw;
  color: #1b3936;
}

.about-content-box {
  background-color: #1b3936;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 5vw;
}

.about-content-box h2 {
  margin: 0;
}

.about-inside-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

/* Link Section */
.section-link {
  width: 90rem;
  margin-inline: auto;
  text-transform: capitalize;
  color: #1b3936;
  font-weight: 400;
  font-size: 1.1rem;
}

.link-text-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 400px;
  padding-right: 400px;
}

.link-text-box h5 {
  font-family: "Switzer-Variable";
  font-weight: 400;
  font-size: 1.2rem;
}
